<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="version" value="2017/08/08 23:00:23"/>
    <add key="License" value="4df9ccad-987b-480a-a6aa-278cfb684555"/>
    <add key="filePath" value="D:\files"/>
    <add key="uploadPath" value="D:\files"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept ,token"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="logDB" connectionString="Data Source=.;database=logDB;user id=sa;password=pass123!;Pooling=true;Max Pool Size=2048;Min Pool Size=0;"/>
    <add name="ConnString" connectionString="Data Source=.;database=cbest;user id=sa;password=pass123!;Pooling=true;Max Pool Size=2048;Min Pool Size=0;"/>
    <add name="TestString" connectionString="Data Source=.;database=cbest;user id=sa;password=pass123!;Pooling=true;Max Pool Size=2048;Min Pool Size=0;"/>
  </connectionStrings>
  <system.serviceModel>
    <!--<client>
      <endpoint address="http://127.0.0.1:4824/MainService.svc" binding="customBinding"
        bindingConfiguration="CustomBinding" contract="MyRapid.Server.IMainService"
        name="customBindingEndPoint" />
    </client>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding" receiveTimeout="24:00:00" sendTimeout="24:00:00">
          <reliableSession inactivityTimeout="24:00:00"/>
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="apiBinding" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="AuthenticationBehavior" type="MyRapid.Server.Extension.AuthenticationBehaviorExtension, MyRapid.Server"/>
        <add name="CustomerErrorBehavior" type="MyRapid.Server.Extension.CustomErrorBehaviorExtension, MyRapid.Server"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="basicBehavior" name="MyRapid.Server.MainService">
        <endpoint behaviorConfiguration="CustomBindingBehavior" binding="customBinding" bindingConfiguration="CustomBinding" name="CustomBindingEndPoint" contract="MyRapid.Server.IMainService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:4824/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyRapid.Server.ApiServiceAspNetAjaxBehavior">
          <webHttp/>
          <!--enableWebScript返回格式为：{d:{__type:"……}}-->
          <!--<enableWebScript />-->
        </behavior>
        <behavior name="CustomBindingBehavior">
          <CustomerErrorBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="basicBehavior">
          <serviceThrottling maxConcurrentCalls="1024" maxConcurrentSessions="1024" maxConcurrentInstances="1024"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <AuthenticationBehavior/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="false" />-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\log.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>