<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding" />
                <binding name="BasicHttpEndPoint" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBindingEndPoint">
                    <reliableSession inactivityTimeout="24.00:00:00" />
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ced-pc:4824/MainService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding" contract="MainService.IMainService"
                name="BasicHttpBinding" />
            <endpoint address="http://ced-pc:4824/MainService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndPoint" contract="MainService.IMainService"
                name="BasicHttpEndPoint" />
            <endpoint address="http://127.0.0.1:4824/MainService.svc" binding="customBinding"
                bindingConfiguration="CustomBindingEndPoint" contract="MainService.IMainService"
                name="CustomBindingEndPoint" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
