<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="exePath" value="MyRapid.Client.exe"/>
    <add key="vbsPath" value="update.vbs"/>
    <add key="imgPath" value=""/>
    <add key="exeTitle" value="用户登录"/>
    <add key="urlPath" value="http://127.0.0.1:4824/update.txt"/>
    <add key="version" value="2019/9/17 9:12:23"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
