<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding" receiveTimeout="24:00:00" sendTimeout="24:00:00">
          <reliableSession/>
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:4824/MainService.svc" binding="customBinding" bindingConfiguration="CustomBinding" contract="MainService.IMainService" name="CustomBindingEndPoint"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <gcConcurrent enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DevExpress;Library;MyRapid;Manufacture;"></probing>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="License" value="4df9ccad-987b-480a-a6aa-278cfb684555"/>
  </appSettings>
</configuration>
